@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Raleway:wght@300;700&family=Nunito:wght@300;400&display=swap');

body{
   background-color: black;

}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(0, 179, 255);
}

h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: white;
}

h2 strong, .highlight {
    font-weight: 700;
    color: white;
}

p, label, input, textarea, li {
    font-family: 'Nunito', sans-serif;;
    font-weight: 300;
    color: white;
}

/*Header */

.seccion-header{
    border-bottom: 2px solid white;
    background-image: linear-gradient(90deg,rgba(43, 43, 43, 1) 13%, rgba(107, 107, 107, 1) 41%, rgba(23, 23, 23, 1) 100%);
    padding: 20px;
    margin: 0px;
}
.header-div{
    display: flex;
    flex-direction: row;
    gap: 5%;
}


.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    border-radius: 10px;
    width: 8%;
    overflow: hidden;

}

.logo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}


ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

li{
    text-align: center;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    width: 100%;
    min-height: 35px;
    list-style: none;
    box-shadow: 0px 5px 0px 3px #000000;
}
#inicio{
    background-image: radial-gradient(circle, rgba(135, 31, 31, 1) 52%, rgba(212, 32, 32, 1) 90%);
    border-color: rgb(0,0,0);

}

#categorias{
    background-image: radial-gradient(circle,rgb(31, 64, 135) 52%, rgb(32, 95, 212) 90%);
    border-color: rgb(0,0,0);
 
}
#productos{
    background-image: radial-gradient(circle, rgb(31, 135, 90) 52%, rgb(32, 212, 59) 90%);
    border-color: rgb(0,0,0);

}
#contacto{
    background-image: radial-gradient(circle, rgb(73, 31, 135) 52%, rgb(113, 32, 212)90%);
    border-color: rgb(0,0,0);

}

li:hover{
    box-shadow: 0px 5px 5px 3px rgb(0, 51, 128);
}

a{
    color: white;
    text-decoration: none;

}


/*Categorias tarjetas*/

.categorias-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}